<?xml version="1.0" encoding="UTF-8"?>
<!--
    Adapted from https://github.com/DMBuce/clicraft/blob/master/scripts/log4j2.xml
-->
<Configuration status="WARN" packages="net.minecraft,com.mojang">
    <Appenders>
        <!-- console logging - logs to stdout -->
        <Console name="SysOut" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <!-- DEFAULT LOGGERS -->
            <filters>
                <MarkerFilter marker="NETWORK_PACKETS" onMatch="DENY"
                              onMismatch="NEUTRAL" />
            </filters>
            <AppenderRef ref="SysOut"/>
        </Root>
    </Loggers>
</Configuration>
